Repository PickNikRobotics/generate_parameter_library: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright, ament_flake8

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-ast
      - id: fix-byte-order-marker
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-executables-have-shebangs
      - id: pretty-format-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: generate_parameter_library_py/generate_parameter_library_py/test
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: name-tests-test
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace
      - id: double-quote-string-fixer

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        args: ["--skip-string-normalization"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: CHANGELOG.rst

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system
        exclude: .*/conf\.py$
      - id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8

Remove flake8 as we use black
  .pre-commit-config.yaml
Due: ament_copyright

Fix warning string
  parameter_traits/include/parameter_traits/parameter_traits.hpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright

Silence it in our own header
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/parameter_library_header
  parameter_traits/include/parameter_traits/parameter_traits.hpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright

Add copyright notice to python files
  generate_parameter_library_py/generate_parameter_library_py/cpp_conversions.py
  generate_parameter_library_py/generate_parameter_library_py/python_conversions.py
  generate_parameter_library_py/generate_parameter_library_py/string_filters_cpp.py
Due: ament_copyright, ament_flake8

Fix pre-commit and update clang format to match cpplint
  .clang-format
  example/include/generate_parameter_library_example/example_validators.hpp
  example/include/generate_parameter_library_example/minimal_publisher.hpp
  example/test/descriptor_test_gtest.cpp
  example/test/example_test_gmock.cpp
  example/test/example_test_gtest.cpp
  example_python/setup.py
  example_python/test/test_load_modules.py
  generate_parameter_library_py/setup.py
  parameter_traits/include/parameter_traits/parameter_traits.hpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright, ament_flake8

Fix license with new ament_copyright
  example_external/include/generate_parameter_library_example_external/minimal_publisher_external.hpp
  example_external/src/minimal_publisher_external.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright

Allow multiple yaml documents
  .pre-commit-config.yaml
Due: ament_copyright

Fix include order
  example/include/generate_parameter_library_example/example_validators.hpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright

Use ros2_control_ci to get ament linters preinstalled
  .github/workflows/format.yaml
Due: ament_copyright

Move linters to pre-commit (#298)
  .clang-format
  .github/workflows/format.yaml
  .pre-commit-config.yaml
  example/CMakeLists.txt
  example/include/generate_parameter_library_example/example_validators.hpp
  example/include/generate_parameter_library_example/minimal_publisher.hpp
  example/package.xml
  example/test/descriptor_test_gtest.cpp
  example/test/example_test_gmock.cpp
  example/test/example_test_gtest.cpp
  example_cmake_python/package.xml
  example_external/CMakeLists.txt
  example_external/include/generate_parameter_library_example_external/minimal_publisher_external.hpp
  example_external/package.xml
  example_external/src/minimal_publisher_external.cpp
  example_python/package.xml
  example_python/setup.py
  example_python/test/test_copyright.py
  example_python/test/test_flake8.py
  example_python/test/test_load_modules.py
  example_python/test/test_pep257.py
  generate_parameter_library/CMakeLists.txt
  generate_parameter_library/package.xml
  generate_parameter_library_py/generate_parameter_library_py/cpp_conversions.py
  generate_parameter_library_py/generate_parameter_library_py/python_conversions.py
  generate_parameter_library_py/generate_parameter_library_py/string_filters_cpp.py
  generate_parameter_library_py/package.xml
  generate_parameter_library_py/setup.py
  generate_parameter_library_py/test/test_copyright.py
  parameter_traits/CMakeLists.txt
  parameter_traits/include/parameter_traits/parameter_traits.hpp
  parameter_traits/package.xml
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright, ament_flake8

Deprecate parameter_traits package and header file (#297)
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/parameter_library_header
  parameter_traits/include/parameter_traits/parameter_traits.hpp
  parameter_traits/package.xml
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright

Remove deprecated parameter_traits
  generate_parameter_library/cmake/generate_parameter_library.cmake
  generate_parameter_library/generate_parameter_library-extras.cmake
  generate_parameter_library/package.xml
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/parameter_library_header
  parameter_traits/CHANGELOG.rst
  parameter_traits/CMakeLists.txt
  parameter_traits/include/parameter_traits/parameter_traits.hpp
  parameter_traits/package.xml
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Use a temporary build directory for Python module output
  generate_parameter_library/cmake/generate_parameter_library.cmake
Due: ament_copyright

Added missing dependency
  generate_parameter_library/package.xml
Due: ament_copyright

install cmake dir under share/${PROJECT_NAME} and export python codegen macro
  generate_parameter_library/CMakeLists.txt
  generate_parameter_library/cmake/generate_parameter_library_py_codegen.cmake
  generate_parameter_library/generate_parameter_library-extras.cmake
Due: ament_lint_cmake, ament_copyright

Fix get_dynamic_mapped_parameter for nested map keys
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
Due: ament_copyright, ament_flake8

Add tests for nested mapped parameters
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
  generate_parameter_library_py/generate_parameter_library_py/test/nested_map_keys.yaml
  generate_parameter_library_py/generate_parameter_library_py/test/nested_map_test.yaml
  generate_parameter_library_py/setup.py
Due: ament_copyright, ament_flake8

Fix Python codegen installs in ROS2 (ament Python install dir) (#1)
  generate_parameter_library/CMakeLists.txt
  generate_parameter_library/cmake/README.md
  generate_parameter_library/cmake/generate_parameter_library_py_codegen.cmake
  generate_parameter_library/generate_parameter_library-extras.cmake
  generate_parameter_library/package.xml
  generate_parameter_library_py/CMakeLists.txt
  generate_parameter_library_py/package.xml
  generate_parameter_library_py/scripts/generate_parameter_library_cpp
  generate_parameter_library_py/scripts/generate_parameter_library_markdown
  generate_parameter_library_py/scripts/generate_parameter_library_python
  generate_parameter_library_py/setup.py
  parameter_traits/CMakeLists.txt
  parameter_traits/package.xml
Due: ament_lint_cmake, ament_copyright, ament_flake8

Fixing update of dynamic parameters
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/update_runtime_parameter
Due: ament_copyright

Hotfix/fix hydra cpack declaration (#2)
  generate_parameter_library/CMakeLists.txt
  generate_parameter_library/package.xml
  generate_parameter_library_py/CMakeLists.txt
  generate_parameter_library_py/package.xml
  parameter_traits/CMakeLists.txt
  parameter_traits/package.xml
Due: ament_lint_cmake, ament_copyright

Use a temporary build directory for Python module output (#303)
  generate_parameter_library/cmake/generate_parameter_library.cmake
Due: ament_copyright

Explicitly add ament_cmake_gmock and _gtest to example
  example/package.xml
  generate_parameter_library/package.xml
Due: ament_copyright

Added missing gmock/gtest dependency (#304)
  example/package.xml
Due: ament_copyright

make scripts accessible to find_program cmake function.
  generate_parameter_library_py/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Use pre-commit mirror for clang-format
  .pre-commit-config.yaml
Due: ament_copyright

Exclude deprecated parameter_traits
  .pre-commit-config.yaml
Due: ament_copyright

Fix clang-format hook
  .pre-commit-config.yaml
Due: ament_copyright

Satisfy clang-format
  parameter_traits/include/parameter_traits/parameter_traits.hpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright

Fix pre-commit workflow (#310)
  .pre-commit-config.yaml
  parameter_traits/include/parameter_traits/parameter_traits.hpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright

Update changelogs
  example/CHANGELOG.rst
  example_cmake_python/CHANGELOG.rst
  example_external/CHANGELOG.rst
  example_python/CHANGELOG.rst
  generate_parameter_library/CHANGELOG.rst
  generate_parameter_library_py/CHANGELOG.rst
  parameter_traits/CHANGELOG.rst
Due: ament_copyright

0.7.0
  example/CHANGELOG.rst
  example/package.xml
  example_cmake_python/CHANGELOG.rst
  example_cmake_python/package.xml
  example_external/CHANGELOG.rst
  example_external/package.xml
  example_python/CHANGELOG.rst
  example_python/package.xml
  example_python/setup.py
  generate_parameter_library/CHANGELOG.rst
  generate_parameter_library/package.xml
  generate_parameter_library_py/CHANGELOG.rst
  generate_parameter_library_py/package.xml
  generate_parameter_library_py/setup.py
  parameter_traits/CHANGELOG.rst
  parameter_traits/package.xml
Due: ament_copyright, ament_flake8

bug Showcase issue about nested map
  example/config/implementation.yaml
  example/src/parameters.yaml
Due: ament_copyright

fix implement scope resolution for dynamic parameter mapped keys
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
Due: ament_copyright, ament_flake8

test Add multiple test
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
  generate_parameter_library_py/generate_parameter_library_py/test/nested_map_keys.yaml
  generate_parameter_library_py/generate_parameter_library_py/test/nested_map_test.yaml
  generate_parameter_library_py/setup.py
Due: ament_copyright, ament_flake8

style format code with pre-commit
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
Due: ament_copyright, ament_flake8

Add mergify and dependabot
  .github/dependabot.yml
  .github/mergify.yml
Due: ament_copyright

Split workflows
  .github/workflows/humble-binary-build.yaml
  .github/workflows/humble-format.yaml
  .github/workflows/humble-semi-binary-build.yaml
  .github/workflows/rolling-binary-build.yaml
  .github/workflows/rolling-format.yaml
  .github/workflows/rolling-semi-binary-build.yaml
Due: ament_copyright

Update semi-binary
  .github/workflows/humble-semi-binary-build.yaml
  .github/workflows/rolling-semi-binary-build.yaml
  upstream.repos
Due: ament_copyright

Fix path filters
  .github/workflows/humble-binary-build.yaml
  .github/workflows/humble-format.yaml
  .github/workflows/humble-semi-binary-build.yaml
  .github/workflows/rolling-binary-build.yaml
  .github/workflows/rolling-format.yaml
  .github/workflows/rolling-semi-binary-build.yaml
Due: ament_copyright
