Repository PickNikRobotics/generate_parameter_library: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright, ament_flake8

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-ast
      - id: fix-byte-order-marker
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-executables-have-shebangs
      - id: pretty-format-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: generate_parameter_library_py/generate_parameter_library_py/test
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: name-tests-test
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace
      - id: double-quote-string-fixer

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        args: ["--skip-string-normalization"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: CHANGELOG.rst

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system
        exclude: .*/conf\.py$
      - id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8

Fix path filters again
  .github/workflows/humble-binary-build.yaml
  .github/workflows/humble-semi-binary-build.yaml
  .github/workflows/rolling-binary-build.yaml
  .github/workflows/rolling-semi-binary-build.yaml
Due: ament_copyright

Add concurrency settings
  .github/workflows/humble-binary-build.yaml
  .github/workflows/humble-format.yaml
  .github/workflows/humble-semi-binary-build.yaml
  .github/workflows/rolling-binary-build.yaml
  .github/workflows/rolling-format.yaml
  .github/workflows/rolling-semi-binary-build.yaml
Due: ament_copyright

Use per-distro repo files
  .github/workflows/humble-semi-binary-build.yaml
  .github/workflows/rolling-semi-binary-build.yaml
  generate_parameter_library.humble.repos
  generate_parameter_library.jazzy.repos
  generate_parameter_library.kilted.repos
  generate_parameter_library.rolling.repos
Due: ament_copyright

Add windows build
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

Updating job name
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

Add pre-release workflows
  .github/workflows/humble-pre-release.yml
  .github/workflows/rolling-pre-release.yml
Due: ament_copyright

Add launch tests for example nodes
  example/CMakeLists.txt
  example/package.xml
  example/test/launch.test.py
  example_external/CMakeLists.txt
  example_external/README.md
  example_external/package.xml
  example_external/test/launch.test.py
Due: ament_lint_cmake, ament_copyright, ament_flake8

Fix branch filter
  .github/workflows/rolling-pre-release.yml
Due: ament_copyright

Export symbols for windows
  example/CMakeLists.txt
  example/package.xml
  example_external/CMakeLists.txt
  example_external/package.xml
  generate_parameter_library.humble.repos
  generate_parameter_library.jazzy.repos
  generate_parameter_library.kilted.repos
  generate_parameter_library.rolling.repos
Due: ament_lint_cmake, ament_copyright

Add missing test dependency
  example/package.xml
  example_external/package.xml
Due: ament_copyright

Add build status table
  README.md
Due: ament_copyright

Update TOC and format
  README.md
Due: ament_copyright

Update maintainers in mergify config
  .github/mergify.yml
Due: ament_copyright

Branch for rolling, add additional CI jobs and tests (#314)
  .github/dependabot.yml
  .github/mergify.yml
  .github/workflows/format.yaml
  .github/workflows/humble-binary-build.yaml
  .github/workflows/humble-format.yaml
  .github/workflows/humble-pre-release.yml
  .github/workflows/humble-semi-binary-build.yaml
  .github/workflows/rolling-binary-build.yaml
  .github/workflows/rolling-format.yaml
  .github/workflows/rolling-pre-release.yml
  .github/workflows/rolling-semi-binary-build-win.yml
  .github/workflows/rolling-semi-binary-build.yaml
  README.md
  example/CMakeLists.txt
  example/package.xml
  example/test/launch.test.py
  example_external/CMakeLists.txt
  example_external/README.md
  example_external/package.xml
  example_external/test/launch.test.py
  generate_parameter_library.humble.repos
  generate_parameter_library.jazzy.repos
  generate_parameter_library.kilted.repos
  generate_parameter_library.rolling.repos
  upstream.repos
Due: ament_lint_cmake, ament_copyright, ament_flake8

Remove deprecated parameter_traits
  generate_parameter_library/cmake/generate_parameter_library.cmake
  generate_parameter_library/generate_parameter_library-extras.cmake
  generate_parameter_library/package.xml
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/parameter_library_header
  parameter_traits/CHANGELOG.rst
  parameter_traits/CMakeLists.txt
  parameter_traits/include/parameter_traits/parameter_traits.hpp
  parameter_traits/package.xml
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Remove deprecated parameter_traits (#294)
  generate_parameter_library/cmake/generate_parameter_library.cmake
  generate_parameter_library/generate_parameter_library-extras.cmake
  generate_parameter_library/package.xml
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/parameter_library_header
  parameter_traits/CHANGELOG.rst
  parameter_traits/CMakeLists.txt
  parameter_traits/include/parameter_traits/parameter_traits.hpp
  parameter_traits/package.xml
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Remove unused variables
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
Due: ament_copyright, ament_flake8

Add missing dependency on ros2_control_cmake
  example/package.xml
Due: ament_copyright

Use yaml anchors
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

Remove deprecated include path
  README.md
  generate_parameter_library/cmake/generate_parameter_library.cmake
Due: ament_copyright

Revert format change
  README.md
Due: ament_copyright

Revert "Add missing dependency on ros2_control_cmake"
  example/package.xml
Due: ament_copyright

Use windows_dependencies input
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

Fix windows workflow (#318)
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

Remove unused variables in pytest (#317)
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
Due: ament_copyright, ament_flake8

doc Add array scope resolution section
  README.md
Due: ament_copyright

Document usage of custom validator in cmake
  README.md
Due: ament_copyright

Document usage of custom validator in cmake (#320)
  README.md
Due: ament_copyright

Use libexpected-dev instead of tl_expected
  README.md
  example/include/generate_parameter_library_example/example_validators.hpp
  generate_parameter_library/cmake/generate_parameter_library.cmake
  generate_parameter_library/generate_parameter_library-extras.cmake
  generate_parameter_library/package.xml
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright

Fix windows dependencies
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

fix: Improve custom validors in python example and document its u (closes #321)
  fix_321.py
Due: ament_copyright, ament_flake8

Use libexpected-dev instead of tl_expected (#322)
  .github/workflows/rolling-semi-binary-build-win.yml
  README.md
  example/include/generate_parameter_library_example/example_validators.hpp
  generate_parameter_library/cmake/generate_parameter_library.cmake
  generate_parameter_library/generate_parameter_library-extras.cmake
  generate_parameter_library/package.xml
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright

Branch for rolling, add additional CI jobs and tests (backport #314)
  .github/dependabot.yml
  .github/mergify.yml
  .github/workflows/format.yaml
  .github/workflows/humble-binary-build.yaml
  .github/workflows/humble-format.yaml
  .github/workflows/humble-pre-release.yml
  .github/workflows/humble-semi-binary-build.yaml
  .github/workflows/rolling-binary-build.yaml
  .github/workflows/rolling-format.yaml
  .github/workflows/rolling-pre-release.yml
  .github/workflows/rolling-semi-binary-build-win.yml
  .github/workflows/rolling-semi-binary-build.yaml
  README.md
  example/CMakeLists.txt
  example/package.xml
  example/test/launch.test.py
  example_external/CMakeLists.txt
  example_external/README.md
  example_external/package.xml
  example_external/test/launch.test.py
  generate_parameter_library.humble.repos
  generate_parameter_library.jazzy.repos
  generate_parameter_library.kilted.repos
  generate_parameter_library.rolling.repos
  upstream.repos
Due: ament_lint_cmake, ament_copyright, ament_flake8

Fix windows workflow (backport #318)
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

Remove unused variables in pytest (backport #317)
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
Due: ament_copyright, ament_flake8

Document usage of custom validator in cmake (backport #320)
  README.md
Due: ament_copyright

Satisfy double-quote-string-fixer
  example/test/launch.test.py
  example_external/test/launch.test.py
Due: ament_copyright, ament_flake8

Revert changes to licence text
  example_external/include/generate_parameter_library_example_external/minimal_publisher_external.hpp
  example_external/src/minimal_publisher_external.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright

Fix pre-commit on humble (#324)
  example/test/launch.test.py
  example_external/include/generate_parameter_library_example_external/minimal_publisher_external.hpp
  example_external/src/minimal_publisher_external.cpp
  example_external/test/launch.test.py
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright, ament_flake8

chore Move test to new test file
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
  generate_parameter_library_py/generate_parameter_library_py/test/mapped_parameter_test.py
Due: ament_copyright, ament_flake8
