Repository PickNikRobotics/generate_parameter_library: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright, ament_flake8

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-ast
      - id: fix-byte-order-marker
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-executables-have-shebangs
      - id: pretty-format-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: generate_parameter_library_py/generate_parameter_library_py/test
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: name-tests-test
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace
      - id: double-quote-string-fixer

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        args: ["--skip-string-normalization"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: CHANGELOG.rst

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system
        exclude: .*/conf\.py$
      - id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8

1.0.0
  example/CHANGELOG.rst
  example/package.xml
  example_cmake_python/CHANGELOG.rst
  example_cmake_python/package.xml
  example_external/CHANGELOG.rst
  example_external/package.xml
  example_python/CHANGELOG.rst
  example_python/package.xml
  example_python/setup.py
  generate_parameter_library/CHANGELOG.rst
  generate_parameter_library/package.xml
  generate_parameter_library_py/CHANGELOG.rst
  generate_parameter_library_py/package.xml
  generate_parameter_library_py/setup.py
Due: ament_copyright, ament_flake8

Update changelogs
  example/CHANGELOG.rst
  example_cmake_python/CHANGELOG.rst
  example_external/CHANGELOG.rst
  example_python/CHANGELOG.rst
  generate_parameter_library/CHANGELOG.rst
  generate_parameter_library_py/CHANGELOG.rst
  parameter_traits/CHANGELOG.rst
Due: ament_copyright

0.7.2
  example/CHANGELOG.rst
  example/package.xml
  example_cmake_python/CHANGELOG.rst
  example_cmake_python/package.xml
  example_external/CHANGELOG.rst
  example_external/package.xml
  example_python/CHANGELOG.rst
  example_python/package.xml
  example_python/setup.py
  generate_parameter_library/CHANGELOG.rst
  generate_parameter_library/package.xml
  generate_parameter_library_py/CHANGELOG.rst
  generate_parameter_library_py/package.xml
  generate_parameter_library_py/setup.py
  parameter_traits/CHANGELOG.rst
  parameter_traits/package.xml
Due: ament_copyright, ament_flake8

Silence deprecation warning for tl_expected
  generate_parameter_library/generate_parameter_library-extras.cmake
Due: ament_copyright

Silence deprecation warning for tl_expected (#350)
  generate_parameter_library/generate_parameter_library-extras.cmake
Due: ament_copyright

Silence deprecation warning for tl_expected (backport #350)
  generate_parameter_library/generate_parameter_library-extras.cmake
Due: ament_copyright

Made fields in python structs assigned per-instance instead of at the class scope
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_struct
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_variable
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/parameter_library_header
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
Due: ament_copyright, ament_flake8

FIx pre-commit formatting issues
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
Due: ament_copyright, ament_flake8

Format fix
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
Due: ament_copyright, ament_flake8

Scoped changes to python code only
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_struct
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/parameter_library_header
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
Due: ament_copyright, ament_flake8

Removed module reload as it is no longer necessary
  example_python/test/test_params_consistency.py
Due: ament_copyright, ament_flake8

Add lyrical workflows and update README
  .github/workflows/rolling-binary-build.yaml
  .github/workflows/rolling-pre-release.yml
  .github/workflows/rolling-semi-binary-build.yaml
  README.md
  generate_parameter_library.lyrical.repos
Due: ament_copyright

Fixed broken test
  example_python/test/test_params_consistency.py
Due: ament_copyright, ament_flake8

Fixed format issue in test
  example_python/test/test_params_consistency.py
Due: ament_copyright, ament_flake8

Added test against shared state bewteen either Params instances or maps instances
  example_python/generate_parameter_module_example/parameters.yaml
  example_python/test/test_params_consistency.py
Due: ament_copyright, ament_flake8

Update changelogs
  example/CHANGELOG.rst
  example_cmake_python/CHANGELOG.rst
  example_external/CHANGELOG.rst
  example_python/CHANGELOG.rst
  generate_parameter_library/CHANGELOG.rst
  generate_parameter_library_py/CHANGELOG.rst
Due: ament_copyright

1.0.1
  example/CHANGELOG.rst
  example/package.xml
  example_cmake_python/CHANGELOG.rst
  example_cmake_python/package.xml
  example_external/CHANGELOG.rst
  example_external/package.xml
  example_python/CHANGELOG.rst
  example_python/package.xml
  example_python/setup.py
  generate_parameter_library/CHANGELOG.rst
  generate_parameter_library/package.xml
  generate_parameter_library_py/CHANGELOG.rst
  generate_parameter_library_py/package.xml
  generate_parameter_library_py/setup.py
Due: ament_copyright, ament_flake8

0.7.3
  example/CHANGELOG.rst
  example/package.xml
  example_cmake_python/CHANGELOG.rst
  example_cmake_python/package.xml
  example_external/CHANGELOG.rst
  example_external/package.xml
  example_python/CHANGELOG.rst
  example_python/package.xml
  example_python/setup.py
  generate_parameter_library/CHANGELOG.rst
  generate_parameter_library/package.xml
  generate_parameter_library_py/CHANGELOG.rst
  generate_parameter_library_py/package.xml
  generate_parameter_library_py/setup.py
  parameter_traits/CHANGELOG.rst
  parameter_traits/package.xml
Due: ament_copyright, ament_flake8

Add lyrical workflows and update README (#352)
  .github/workflows/rolling-binary-build.yaml
  .github/workflows/rolling-pre-release.yml
  .github/workflows/rolling-semi-binary-build.yaml
  README.md
  generate_parameter_library.lyrical.repos
Due: ament_copyright

No need to have generate_parameter_library at runtime
  README.md
  example/CMakeLists.txt
  example/package.xml
  example_cmake_python/package.xml
  example_python/package.xml
Due: ament_lint_cmake, ament_copyright

Actually the generated headers need their dependencies
  README.md
  example/package.xml
  example_cmake_python/package.xml
  example_python/package.xml
  generate_parameter_library/package.xml
  generate_parameter_library_py/package.xml
Due: ament_copyright

No we don't
  generate_parameter_library/package.xml
Due: ament_copyright

This is also not used runtime
  generate_parameter_library/package.xml
Due: ament_copyright

Remove tl_expected
  generate_parameter_library/cmake/generate_parameter_library.cmake
  generate_parameter_library/generate_parameter_library-extras.cmake
  generate_parameter_library/package.xml
Due: ament_copyright

Remove tl_expected (#355)
  generate_parameter_library/cmake/generate_parameter_library.cmake
  generate_parameter_library/generate_parameter_library-extras.cmake
  generate_parameter_library/package.xml
Due: ament_copyright

1.1.0
  example/CHANGELOG.rst
  example/package.xml
  example_cmake_python/CHANGELOG.rst
  example_cmake_python/package.xml
  example_external/CHANGELOG.rst
  example_external/package.xml
  example_python/CHANGELOG.rst
  example_python/package.xml
  example_python/setup.py
  generate_parameter_library/CHANGELOG.rst
  generate_parameter_library/package.xml
  generate_parameter_library_py/CHANGELOG.rst
  generate_parameter_library_py/package.xml
  generate_parameter_library_py/setup.py
Due: ament_copyright, ament_flake8

replace rsl::StaticVector by std::array
  generate_parameter_library_py/generate_parameter_library_py/cpp_conversions.py
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/parameter_library_header
Due: ament_copyright, ament_flake8

Fix ParameterDescription of exclusive bounds (#339)
  example/src/parameters.yaml
  example/test/descriptor_test_gtest.cpp
  example_python/generate_parameter_module_example/parameters.yaml
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/declare_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/declare_runtime_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_runtime_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/parameter_library_header
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright

Fix ParameterDescription of exclusive bounds (backport #339)
  example/src/parameters.yaml
  example/test/descriptor_test_gtest.cpp
  example_python/generate_parameter_module_example/parameters.yaml
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/declare_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/declare_runtime_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_runtime_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/parameter_library_header
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright

Made fields in python structs assigned per-instance instead of at the class scope (#351)
  example_python/generate_parameter_module_example/parameters.yaml
  example_python/test/test_params_consistency.py
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_struct
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_variable
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/parameter_library_header
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
Due: ament_copyright, ament_flake8

add gitignore for generated files in example_python
  example_python/generate_parameter_module_example/.gitignore
Due: ament_copyright

add gitignore for generated files in example_python (#356)
  example_python/generate_parameter_module_example/.gitignore
Due: ament_copyright

Accept quotes in description and additional constraints
  example/src/parameters.yaml
  example_cmake_python/cmake_generate_parameter_module_example/parameters.yaml
  example_python/generate_parameter_module_example/parameters.yaml
  generate_parameter_library_py/generate_parameter_library_py/string_filters_cpp.py
Due: ament_copyright, ament_flake8

1.2.0
  example/CHANGELOG.rst
  example/package.xml
  example_cmake_python/CHANGELOG.rst
  example_cmake_python/package.xml
  example_external/CHANGELOG.rst
  example_external/package.xml
  example_python/CHANGELOG.rst
  example_python/package.xml
  example_python/setup.py
  generate_parameter_library/CHANGELOG.rst
  generate_parameter_library/package.xml
  generate_parameter_library_py/CHANGELOG.rst
  generate_parameter_library_py/package.xml
  generate_parameter_library_py/setup.py
Due: ament_copyright, ament_flake8

[CI] Add compatibility CI build
  .github/workflows/rolling-combatibility-binary-build.yaml
Due: ament_copyright

Let humble CI use the same workflows as rolling
  .github/workflows/humble-binary-build.yaml
  .github/workflows/humble-semi-binary-build.yaml
Due: ament_copyright
