Repository PickNikRobotics/generate_parameter_library: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright, ament_flake8

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

Don't test rolling branch on kilted
  .github/workflows/rolling-binary-build.yaml
Due: ament_copyright

Cleanup CI workflow files (#359)
  .github/workflows/humble-binary-build.yaml
  .github/workflows/humble-semi-binary-build.yaml
  .github/workflows/rolling-binary-build.yaml
Due: ament_copyright

[CI] Add compatibility CI build (#358)
  .github/workflows/rolling-combatibility-binary-build.yaml
Due: ament_copyright

Fix floating_point_range numerical values
  example/src/parameters.yaml
  example_python/generate_parameter_module_example/parameters.yaml
Due: ament_copyright

Fix floating_point_range numerical values (#360)
  example/src/parameters.yaml
  example_python/generate_parameter_module_example/parameters.yaml
Due: ament_copyright

Add additional_constraints in python parameter file
  example_python/generate_parameter_module_example/parameters.yaml
Due: ament_copyright

Use a shared symlinked parameter file in all examples
  example/src/parameters.yaml
  example_cmake_python/cmake_generate_parameter_module_example/parameters.yaml
Due: ament_copyright

Copy and translate the test_params_consistency test to c++
  example/CMakeLists.txt
  example/test/test_params_consistency.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Update changelogs
  example/CHANGELOG.rst
  example_cmake_python/CHANGELOG.rst
  example_external/CHANGELOG.rst
  example_python/CHANGELOG.rst
  generate_parameter_library/CHANGELOG.rst
  generate_parameter_library_py/CHANGELOG.rst
  parameter_traits/CHANGELOG.rst
Due: ament_copyright

0.7.4
  example/CHANGELOG.rst
  example/package.xml
  example_cmake_python/CHANGELOG.rst
  example_cmake_python/package.xml
  example_external/CHANGELOG.rst
  example_external/package.xml
  example_python/CHANGELOG.rst
  example_python/package.xml
  example_python/setup.py
  generate_parameter_library/CHANGELOG.rst
  generate_parameter_library/package.xml
  generate_parameter_library_py/CHANGELOG.rst
  generate_parameter_library_py/package.xml
  generate_parameter_library_py/setup.py
  parameter_traits/CHANGELOG.rst
  parameter_traits/package.xml
Due: ament_copyright, ament_flake8

Improve Python custom validator example
  README.md
  example_python/generate_parameter_module_example/custom_validation.py
  example_python/generate_parameter_module_example/parameters.yaml
Due: ament_copyright, ament_flake8

Create SECURITY.md for security policy
  SECURITY.md
Due: ament_copyright

Deactivate rolling-main CI job
  .github/workflows/rolling-binary-build.yaml
Due: ament_copyright

Fix mergify settings
  .github/mergify.yml
Due: ament_copyright

Use a shared symlinked parameter file in all examples (#361)
  example/CMakeLists.txt
  example/src/parameters.yaml
  example/test/test_params_consistency.cpp
  example_cmake_python/cmake_generate_parameter_module_example/parameters.yaml
  example_python/generate_parameter_module_example/parameters.yaml
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Remove testcase which is not implemented on humble
  example/test/test_params_consistency.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright

Accept quotes in description and additional constraints (#357)
  example_python/generate_parameter_module_example/parameters.yaml
  generate_parameter_library_py/generate_parameter_library_py/string_filters_cpp.py
Due: ament_copyright, ament_flake8

Validate bound validators against parameter types
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
Due: ament_copyright, ament_flake8

Validate fixed-size parameter defaults
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
Due: ament_copyright, ament_flake8

Silence CMake deprecation warning
  parameter_traits/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Set CMake var before calling find_package(parameter_traits)
  generate_parameter_library/generate_parameter_library-extras.cmake
Due: ament_copyright

replace lowest/max double bounds with +/- infinity
  example/test/descriptor_test_gtest.cpp
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/declare_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/declare_runtime_parameter
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright

add example parameter with no upper bound and default infinit value
  example_python/generate_parameter_module_example/parameters.yaml
Due: ament_copyright

Add <fmt/format.h> for fmt 11+ compatibility (#379)
  example/include/generate_parameter_library_example/example_validators.hpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright

tl_expected is deprecated
  README.md
  example/include/generate_parameter_library_example/example_validators.hpp
  generate_parameter_library/cmake/generate_parameter_library.cmake
  generate_parameter_library/generate_parameter_library-extras.cmake
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright

Simplify win build
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

fix that if no parameter is updated, the user callback is not called (#383)
  example/test/example_test_gtest.cpp
  example/test/launch.test.py
  example_external/test/launch.test.py
  example_python/test/test_params_consistency.py
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/parameter_library_header
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/update_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/update_runtime_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/parameter_library_header
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/update_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/update_runtime_parameter
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright, ament_flake8

fix that if no parameter is updated, the user callback is not called (#383)
  example/test/example_test_gtest.cpp
  example_python/test/test_params_consistency.py
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/parameter_library_header
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/update_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/update_runtime_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/parameter_library_header
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/update_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/update_runtime_parameter
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright, ament_flake8

Fix merge conflicts
  example_python/test/test_params_consistency.py
Due: ament_copyright, ament_flake8

Silence CMake deprecation warning for transitive inclusions
  parameter_traits/CMakeLists.txt
  parameter_traits/cmake/parameter_traits-config-extras.cmake
Due: ament_lint_cmake, ament_copyright

Fix pre-commit
  parameter_traits/cmake/parameter_traits-config-extras.cmake
Due: ament_copyright

Silence CMake deprecation warning for transitive inclusions (#387)
  parameter_traits/CMakeLists.txt
  parameter_traits/cmake/parameter_traits-config-extras.cmake
Due: ament_lint_cmake, ament_copyright

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
  ament_flake8: any of: \.py$
