Repository PickNikRobotics/generate_parameter_library: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright, ament_flake8

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-ast
      - id: fix-byte-order-marker
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-executables-have-shebangs
      - id: pretty-format-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: generate_parameter_library_py/generate_parameter_library_py/test
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: name-tests-test
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace
      - id: double-quote-string-fixer

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        args: ["--skip-string-normalization"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: CHANGELOG.rst

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system
        exclude: .*/conf\.py$
      - id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8

Update generate_parameter_library_py/generate_parameter_library_py/test/mapped_parameter_test.py
  generate_parameter_library_py/generate_parameter_library_py/test/mapped_parameter_test.py
Due: ament_copyright, ament_flake8

Add nested maps also to python node
  example_python/config/implementation.yaml
  example_python/generate_parameter_module_example/minimal_publisher.py
  example_python/generate_parameter_module_example/parameters.yaml
Due: ament_copyright, ament_flake8

Add output to cmake cpp example
  example/src/minimal_publisher.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright

Apply suggestion from @christophfroehlich
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
Due: ament_copyright, ament_flake8

Use get_entry instead
  example_python/generate_parameter_module_example/minimal_publisher.py
Due: ament_copyright, ament_flake8

Fix nested mapped parameters map (#306)
  README.md
  example/config/implementation.yaml
  example/src/minimal_publisher.cpp
  example/src/parameters.yaml
  example_python/config/implementation.yaml
  example_python/generate_parameter_module_example/minimal_publisher.py
  example_python/generate_parameter_module_example/parameters.yaml
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
  generate_parameter_library_py/generate_parameter_library_py/test/mapped_parameter_test.py
  generate_parameter_library_py/generate_parameter_library_py/test/nested_map_keys.yaml
  generate_parameter_library_py/generate_parameter_library_py/test/nested_map_test.yaml
  generate_parameter_library_py/setup.py
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright, ament_flake8

Fix nested mapped parameters map (backport #306)
  README.md
  example/config/implementation.yaml
  example/src/minimal_publisher.cpp
  example/src/parameters.yaml
  example_python/config/implementation.yaml
  example_python/generate_parameter_module_example/minimal_publisher.py
  example_python/generate_parameter_module_example/parameters.yaml
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
  generate_parameter_library_py/generate_parameter_library_py/test/mapped_parameter_test.py
  generate_parameter_library_py/generate_parameter_library_py/test/nested_map_keys.yaml
  generate_parameter_library_py/generate_parameter_library_py/test/nested_map_test.yaml
  generate_parameter_library_py/setup.py
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright, ament_flake8

Testing parameter consistency
  example_python/test/test_params_consistency.py
Due: ament_copyright, ament_flake8

Fixing License
  example_python/test/test_params_consistency.py
Due: ament_copyright, ament_flake8

Adding test cases for more types
  example_python/test/test_params_consistency.py
Due: ament_copyright, ament_flake8

Fix pre-commit
  example_python/test/test_params_consistency.py
Due: ament_copyright, ament_flake8

Revert "Remove deprecated parameter_traits (#294)"
  generate_parameter_library/cmake/generate_parameter_library.cmake
  generate_parameter_library/generate_parameter_library-extras.cmake
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/parameter_library_header
  parameter_traits/CHANGELOG.rst
  parameter_traits/CMakeLists.txt
  parameter_traits/include/parameter_traits/parameter_traits.hpp
  parameter_traits/package.xml
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Testing consistency of parameters update (Python) (#327)
  example_python/test/test_params_consistency.py
Due: ament_copyright, ament_flake8

fix(generate_parameter_library_py): nested mappings double dot bug (#10)
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_runtime_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/update_runtime_parameter
  generate_parameter_library_py/generate_parameter_library_py/test/test_nested_map_fix.py
Due: ament_copyright, ament_flake8

Rename file, fix comment, add copyright
  generate_parameter_library_py/generate_parameter_library_py/test/test_nested_map.py
Due: ament_copyright, ament_flake8

Revert "Remove deprecated parameter_traits (#294)" (#328)
  generate_parameter_library/cmake/generate_parameter_library.cmake
  generate_parameter_library/generate_parameter_library-extras.cmake
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/parameter_library_header
  parameter_traits/CHANGELOG.rst
  parameter_traits/CMakeLists.txt
  parameter_traits/include/parameter_traits/parameter_traits.hpp
  parameter_traits/package.xml
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Remove deprecated parameter_traits (#294)
  generate_parameter_library/cmake/generate_parameter_library.cmake
  generate_parameter_library/generate_parameter_library-extras.cmake
  generate_parameter_library/package.xml
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/parameter_library_header
  parameter_traits/CHANGELOG.rst
  parameter_traits/CMakeLists.txt
  parameter_traits/include/parameter_traits/parameter_traits.hpp
  parameter_traits/package.xml
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Fix nested mappings double dot bug (#329)
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_runtime_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/update_runtime_parameter
  generate_parameter_library_py/generate_parameter_library_py/test/test_nested_map.py
Due: ament_copyright, ament_flake8

Update changelogs
  example/CHANGELOG.rst
  example_cmake_python/CHANGELOG.rst
  example_external/CHANGELOG.rst
  example_python/CHANGELOG.rst
  generate_parameter_library/CHANGELOG.rst
  generate_parameter_library_py/CHANGELOG.rst
  parameter_traits/CHANGELOG.rst
Due: ament_copyright

0.8.0
  example/CHANGELOG.rst
  example/package.xml
  example_cmake_python/CHANGELOG.rst
  example_cmake_python/package.xml
  example_external/CHANGELOG.rst
  example_external/package.xml
  example_python/CHANGELOG.rst
  example_python/package.xml
  example_python/setup.py
  generate_parameter_library/CHANGELOG.rst
  generate_parameter_library/package.xml
  generate_parameter_library_py/CHANGELOG.rst
  generate_parameter_library_py/package.xml
  generate_parameter_library_py/setup.py
  parameter_traits/CHANGELOG.rst
  parameter_traits/package.xml
Due: ament_copyright, ament_flake8

Fix nested mappings double dot bug and add tests (backport #327 #329) (#331)
  example_python/test/test_params_consistency.py
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_runtime_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/update_runtime_parameter
  generate_parameter_library_py/generate_parameter_library_py/test/test_nested_map.py
Due: ament_copyright, ament_flake8

0.7.1
  example/CHANGELOG.rst
  example/package.xml
  example_cmake_python/CHANGELOG.rst
  example_cmake_python/package.xml
  example_external/CHANGELOG.rst
  example_external/package.xml
  example_python/CHANGELOG.rst
  example_python/package.xml
  example_python/setup.py
  generate_parameter_library/CHANGELOG.rst
  generate_parameter_library/package.xml
  generate_parameter_library_py/CHANGELOG.rst
  generate_parameter_library_py/package.xml
  generate_parameter_library_py/setup.py
  parameter_traits/CHANGELOG.rst
  parameter_traits/package.xml
Due: ament_copyright, ament_flake8

Remove installation to deprecated include path (#319)
  README.md
  generate_parameter_library/cmake/generate_parameter_library.cmake
Due: ament_copyright

Remove deprecated parameter_traits (#294) (#330)
  generate_parameter_library/cmake/generate_parameter_library.cmake
  generate_parameter_library/generate_parameter_library-extras.cmake
  generate_parameter_library/package.xml
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/parameter_library_header
  parameter_traits/CHANGELOG.rst
  parameter_traits/CMakeLists.txt
  parameter_traits/include/parameter_traits/parameter_traits.hpp
  parameter_traits/package.xml
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

(win): Remove ninja_packages input
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

(win): Remove ninja_packages input (#332)
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

Use libexpected-dev instead of tl_expected (#322)
  README.md
  example/include/generate_parameter_library_example/example_validators.hpp
  generate_parameter_library/cmake/generate_parameter_library.cmake
  generate_parameter_library/generate_parameter_library-extras.cmake
  generate_parameter_library/package.xml
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright

Use libexpected-dev instead of tl_expected (#322) (#333)
  README.md
  example/include/generate_parameter_library_example/example_validators.hpp
  generate_parameter_library/cmake/generate_parameter_library.cmake
  generate_parameter_library/generate_parameter_library-extras.cmake
  generate_parameter_library/package.xml
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright

FIx pre-commit
  generate_parameter_library/rosdoc2.yaml
Due: ament_copyright

Add repository README.md to generate_parameter_library package docs (#296)
  README.md
  generate_parameter_library/README.md
  generate_parameter_library/doc/conf.py
  generate_parameter_library/package.xml
  generate_parameter_library/rosdoc2.yaml
Due: ament_copyright, ament_flake8

Add repository README.md to generate_parameter_library package docs (backport #296)
  README.md
  generate_parameter_library/README.md
  generate_parameter_library/doc/conf.py
  generate_parameter_library/package.xml
  generate_parameter_library/rosdoc2.yaml
Due: ament_copyright, ament_flake8

reproduce: issue #334
  example/README.md
  example/config/implementation.yaml
  example/src/parameters.yaml
  example/test/example_params.yaml
  example_cmake_python/README.md
  example_cmake_python/cmake_generate_parameter_module_example/parameters.yaml
  example_cmake_python/config/implementation.yaml
  example_external/README.md
  example_external/config/implementation.yaml
  example_python/README.md
  example_python/config/implementation.yaml
  example_python/generate_parameter_module_example/admittance_parameters.py
  example_python/generate_parameter_module_example/parameters.yaml
  example_python/test/test_params_consistency.py
  generate_parameter_library_py/generate_parameter_library_py/test/valid_parameters.yaml
Due: ament_copyright, ament_flake8

remove generated parameters
  example_python/generate_parameter_module_example/admittance_parameters.py
Due: ament_copyright, ament_flake8

Fail at build time with conflicting element bounds
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
  generate_parameter_library_py/generate_parameter_library_py/test/conflicting_element_bounds.yaml
Due: ament_copyright, ament_flake8

Fail at build time with conflicting scalar bounds
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
  generate_parameter_library_py/generate_parameter_library_py/test/conflicting_scalar_bounds.yaml
Due: ament_copyright, ament_flake8

Install test yamls
  generate_parameter_library_py/setup.py
Due: ament_copyright, ament_flake8
