Repository PickNikRobotics/generate_parameter_library: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright, ament_flake8

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

Fix markdown generation for bounds/element-bounds
  generate_parameter_library_py/generate_parameter_library_py/generate_markdown.py
Due: ament_copyright, ament_flake8

fix: read raw string from parameter description
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_runtime_parameter
Due: ament_copyright

fix: ending test node graciously
  example_python/generate_parameter_module_example/minimal_publisher.py
Due: ament_copyright, ament_flake8

precommit fixes
  example_python/generate_parameter_module_example/minimal_publisher.py
Due: ament_copyright, ament_flake8

Fix rst syntax parsing in parameter description (#338)
  example_python/generate_parameter_module_example/minimal_publisher.py
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_runtime_parameter
Due: ament_copyright, ament_flake8

Fix rst syntax parsing in parameter description (backport #338)
  example_python/generate_parameter_module_example/minimal_publisher.py
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_runtime_parameter
Due: ament_copyright, ament_flake8

Also fail on combination of bounds and gt/lt variants
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
Due: ament_copyright, ament_flake8

Split failure yaml files
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
  generate_parameter_library_py/generate_parameter_library_py/test/conflicting_scalar_bounds.yaml
  generate_parameter_library_py/generate_parameter_library_py/test/conflicting_scalar_bounds_exclusive.yaml
  generate_parameter_library_py/generate_parameter_library_py/test/conflicting_scalar_bounds_inclusive.yaml
  generate_parameter_library_py/generate_parameter_library_py/test/conflicting_scalar_bounds_mixed_1.yaml
  generate_parameter_library_py/generate_parameter_library_py/test/conflicting_scalar_bounds_mixed_2.yaml
  generate_parameter_library_py/generate_parameter_library_py/test/conflicting_scalar_bounds_with_bounds.yaml
  generate_parameter_library_py/setup.py
Due: ament_copyright, ament_flake8

Add notes to README
  README.md
Due: ament_copyright

Allow one-sided bounds combinations
  example/src/parameters.yaml
  example_python/generate_parameter_module_example/parameters.yaml
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/declare_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/declare_runtime_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_runtime_parameter
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
  generate_parameter_library_py/generate_parameter_library_py/test/conflicting_element_bounds.yaml
  generate_parameter_library_py/generate_parameter_library_py/test/conflicting_scalar_bounds_exclusive.yaml
  generate_parameter_library_py/generate_parameter_library_py/test/conflicting_scalar_bounds_inclusive.yaml
  generate_parameter_library_py/generate_parameter_library_py/test/conflicting_scalar_bounds_mixed_1.yaml
  generate_parameter_library_py/generate_parameter_library_py/test/conflicting_scalar_bounds_mixed_2.yaml
  generate_parameter_library_py/generate_parameter_library_py/test/valid_parameters.yaml
  generate_parameter_library_py/setup.py
Due: ament_copyright, ament_flake8

Fix readme
  README.md
Due: ament_copyright

Add also a test field for runtime(mapped) parameters
  example/src/parameters.yaml
  example_python/generate_parameter_module_example/parameters.yaml
  generate_parameter_library_py/generate_parameter_library_py/test/valid_parameters.yaml
Due: ament_copyright

Fix conflicting validators (#336)
  README.md
  example/src/parameters.yaml
  example_python/generate_parameter_module_example/parameters.yaml
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/declare_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/declare_runtime_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_runtime_parameter
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
  generate_parameter_library_py/generate_parameter_library_py/test/conflicting_element_bounds.yaml
  generate_parameter_library_py/generate_parameter_library_py/test/conflicting_scalar_bounds_with_bounds.yaml
  generate_parameter_library_py/generate_parameter_library_py/test/valid_parameters.yaml
  generate_parameter_library_py/setup.py
Due: ament_copyright, ament_flake8

Fix ParameterDescription of exclusive bounds
  example/src/parameters.yaml
  example_python/generate_parameter_module_example/parameters.yaml
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/declare_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/declare_runtime_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_runtime_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/parameter_library_header
Due: ament_copyright

Fix test expectation
  example/test/descriptor_test_gtest.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_copyright

Implement string_array_fixed_XX
  example/config/implementation.yaml
  example/src/parameters.yaml
  example/test/example_params.yaml
  example_python/generate_parameter_module_example/parameters.yaml
  example_python/test/test_params_consistency.py
  generate_parameter_library_py/generate_parameter_library_py/cpp_conversions.py
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
  generate_parameter_library_py/generate_parameter_library_py/python_conversions.py
Due: ament_copyright, ament_flake8

replace rsl::StaticVector by std::array
  generate_parameter_library_py/generate_parameter_library_py/cpp_conversions.py
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/parameter_library_header
Due: ament_copyright, ament_flake8

Add missing parameter
  example_external/config/implementation.yaml
Due: ament_copyright

Add fixed_string_array with default value
  example/src/parameters.yaml
  example_python/generate_parameter_module_example/parameters.yaml
Due: ament_copyright

Update example READMEs
  example/README.md
  example_external/README.md
  example_python/README.md
  example_python/config/implementation.yaml
Due: ament_copyright

Implement string_array_fixed_XX (#341)
  example/README.md
  example/config/implementation.yaml
  example/src/parameters.yaml
  example/test/example_params.yaml
  example_external/README.md
  example_external/config/implementation.yaml
  example_python/README.md
  example_python/config/implementation.yaml
  example_python/generate_parameter_module_example/parameters.yaml
  example_python/test/test_params_consistency.py
  generate_parameter_library_py/generate_parameter_library_py/cpp_conversions.py
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
  generate_parameter_library_py/generate_parameter_library_py/python_conversions.py
Due: ament_copyright, ament_flake8

Only print a warning instead
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
Due: ament_copyright, ament_flake8

Generate markdown documentation also for none type
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/markdown/parameter_detail
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/rst/parameter_detail
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
Due: ament_copyright, ament_flake8

Warn on conflicting validators (#344)
  README.md
  example/src/parameters.yaml
  example_python/generate_parameter_module_example/parameters.yaml
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/declare_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/declare_runtime_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/python/declare_runtime_parameter
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
  generate_parameter_library_py/generate_parameter_library_py/test/conflicting_element_bounds.yaml
  generate_parameter_library_py/generate_parameter_library_py/test/conflicting_scalar_bounds_with_bounds.yaml
  generate_parameter_library_py/generate_parameter_library_py/test/valid_parameters.yaml
  generate_parameter_library_py/setup.py
Due: ament_copyright, ament_flake8

Apply input name change of reusable wf
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

Apply input name change of reusable wf (#346)
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

Apply input name change of reusable wf (backport #346)
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

Generate markdown documentation also for none type (#345)
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/markdown/parameter_detail
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/rst/parameter_detail
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
Due: ament_copyright, ament_flake8

Add markdown generation test for bounds
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
  generate_parameter_library_py/generate_parameter_library_py/test/test_markdown_generation.py
Due: ament_copyright, ament_flake8

Fix markdown generation for bounds/element-bounds (#337)
  generate_parameter_library_py/generate_parameter_library_py/generate_markdown.py
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
  generate_parameter_library_py/generate_parameter_library_py/test/test_markdown_generation.py
Due: ament_copyright, ament_flake8

Generate markdown documentation also for none type (backport #345)
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/markdown/parameter_detail
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/rst/parameter_detail
  generate_parameter_library_py/generate_parameter_library_py/parse_yaml.py
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
Due: ament_copyright, ament_flake8

Fix markdown generation for bounds/element-bounds (backport #337)
  generate_parameter_library_py/generate_parameter_library_py/generate_markdown.py
  generate_parameter_library_py/generate_parameter_library_py/test/YAML_parse_error_test.py
  generate_parameter_library_py/generate_parameter_library_py/test/test_markdown_generation.py
Due: ament_copyright, ament_flake8

Change install path of generated python modules
  generate_parameter_library_py/generate_parameter_library_py/generate_python_module.py
  generate_parameter_library_py/generate_parameter_library_py/setup_helper.py
Due: ament_copyright, ament_flake8

Fix isolated failure mode
  generate_parameter_library_py/generate_parameter_library_py/setup_helper.py
Due: ament_copyright, ament_flake8

Fix merge install
  generate_parameter_library_py/generate_parameter_library_py/setup_helper.py
Due: ament_copyright, ament_flake8

Fix overlay workspace path generation
  generate_parameter_library_py/generate_parameter_library_py/setup_helper.py
Due: ament_copyright, ament_flake8

Use std::nextafter instead
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/declare_parameter
  generate_parameter_library_py/generate_parameter_library_py/jinja_templates/cpp/declare_runtime_parameter
Due: ament_copyright

Update changelogs
  example/CHANGELOG.rst
  example_cmake_python/CHANGELOG.rst
  example_external/CHANGELOG.rst
  example_python/CHANGELOG.rst
  generate_parameter_library/CHANGELOG.rst
  generate_parameter_library_py/CHANGELOG.rst
Due: ament_copyright

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
  ament_flake8: any of: \.py$
